/* Anything that ends with this (=) is a cleanup change done by Yassar. */

:root{
    --color-1:#5a3e2b;
    --text-color:white;
    --accent-color:#fff3e0;
}

body {
    background-color: var(--text-color);

    /* These changes reduce redundancy on text (=) */
    color: var(--color-1);
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;

    /* These changes reduce redundancy on formatting (=) */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*nav bar*/
nav .home-link .logo{
    border-radius: 50%;
    width:50px;height:50px;
    padding: 0px;
}

nav{
    /*change height for size*/
    height: 70px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    animation: fadeInUpNav 0.7s ease forwards;
}

/* easy slide up ani */
@keyframes fadeInUpNav {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav a:hover{
    color: var(--color-1);
    background-color: var(--accent-color);
}
nav .home-link:hover{
    background-color: var(--color-1);
}

nav .home-link{
    animation: fadeInUpNav 0.7s ease forwards;
    margin-right: auto;
}

nav svg{
    fill: var(--text-color);
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

nav .content a{
    display:block;
    padding: 20px;

}

/* Desktop dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: var(--color-1);
    min-width: 160px;
    top: 100%;
    left: 0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    z-index: 20;
    flex-direction: column;
    transform: translateY(0px); /*if i want to slide up but kinda looks weird*/
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.55s ease, transform 0.55s ease, max-height 0.55s ease; /* Smooth fade, slide, and expand */
}

.dropdown-content a {
    padding: 20px 20px;/*Change this for dropdown size */
    text-decoration: none;
    display: block;
    color: var(--text-color);
}

.dropdown-content a:hover {
    background-color: var(--accent-color);
    color: var(--color-1);
}

/* Show dropdown on hover for desktop */
.dropdown:hover .dropdown-content {
    display: flex;
}


@media(min-width: 818px) {
    .dropdown {
        height: 100%;
    }

    .dropdown:hover .dropdown-content {
        opacity: 1;
        transform: translateY(0); /* Slide down */
        max-height: 500px;  /* Ensure it has enough height to show all items */
    }
}

@media(max-width:817px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 210px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.65s ease-in-out;
    }
    
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button{
        /*change the icon padding, its can also work with sizes probably*/
        padding: 17px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown-content {
        position: static;
        box-shadow: none;
        background-color: transparent;
    }

    .dropdown-content a {
        padding-left: 40px;
    }
    
    /* works like 30 percent of the time
    .dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
    }
    */
}

/*Silder*/
.container{
    padding: 1.5rem;
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
}

.slider-wrapper {
    position: relative;
    max-width: 100%;    
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.slider {
    display: flex;
    width: 100%;
    aspect-ratio: 16 / 9;
    max-height: 630px; /*idk how i made it work but if it works dont fix it (change size)*/
    height: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.slider img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;        
    object-fit: cover;
    scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 1rem;
    height: 0.5rem;
    border-radius: 999px;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

/*Hidding scroll-bar*/
.slider {
    overflow-x: auto;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

.slider::-webkit-scrollbar {
    display: none;               /* Chrome, Safari, Opera */
}

@media (max-width: 768px) {
    .slider-wrapper {
        max-width: 100%;
        padding: 0;
    }

    .slider {
        border-radius: 0.5rem; 
    }
}

/*Promotions*/
.promotion h2{
    padding-bottom: 10px;
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/   
    color: var(--color-1);
}

.promotion{
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
    margin: 20px;
    padding-bottom: 1.5rem;
}

.promotion img {
    max-height: 385px;
    display: flex;
    width: 100%;  /*96.3%*/
    border-radius: 0.5rem; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

/*News*/
.news h2{ 
    padding-bottom: 10px;
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/  
    color: var(--color-1);
}

.news{
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
    margin: 20px;
    padding-bottom: 1.5rem;
}

.news img {
    max-height: 380px;
    display: flex;
    width: 100%;  /*96.3%*/
    border-radius: 0.5rem; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    /*object-fit: cover;  idk why but ask*/
}

.indexlocation h2{
    padding-left: 1.5rem;
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/   
    color: var(--color-1);
}

/* Footer */
.footer {
    background-color: var(--color-1);
    color: var(--accent-color);
    padding: 2rem;
    font-style: italic;
}

.foot-container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-col {
    text-align: center;
    flex: 1 1 0px;
    min-width: 150px;
    justify-content: left;
    animation: fadeInUp 0.7s ease forwards;
    opacity: 0;
}

.footer-col ul{
    display: inline-block; /* aligns list neatly under title (this does not make sense) */
    /*text-align: center;*/
}

.footer-col h4 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
}

.social-links a {
    margin-right: 0.5rem;
    transition: transform 0.3s;
}
/*
.social-links a:hover {
    transform: scale(1.3);
}*/

.social-links a svg {
    width: 24px;
    height: 24px;
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.social-links a:hover svg {
    transform: scale(1.2);
    color: var(--accent-color); 
}

.footer-col ul li a:hover {
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.2);
    color: var(--accent-color);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem; /* change this for the spacing the the mobile view */
    }

    .footer-col {
        text-align: left;
    }
}

footer .copyright {
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: var(--accent-color);
    background-color: var(--color-1); /* Optional: match your footer's background */
}
  
/*Back to top Button*/
html{
    scroll-behavior: smooth;
}

.back-to-top {
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-1);
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    color: var(--text-color); 
}

.back-to-top svg {
    fill: currentColor; 
    transition: fill 0.2s ease-out; /* Smooth transition */
}

.back-to-top:hover {
    background-color: var(--accent-color);
}

.back-to-top:hover svg {
    fill: var(--color-1); /* Make the SVG fill brown on hover */
}

.back-to-top span {
    transition: 0.2s ease-out;
}

.back-to-top span:hover {
    color: var(--color-1);
    transform: translateY(-4px);
}

/*Find A Location Section */
.map-section {
    padding: 1.5rem 2rem 2rem;
    background-color: var(--accent-color);
    justify-content: center;
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
    max-width: 93%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
    margin: 10px 1.5rem 1.5rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

.map-section h2{
    color: var(--color-1);
    padding-bottom: 1rem;
    font-weight: bolder;
}

.tabs {
    position: relative;
}

/* Hide radio buttons */
.tabs input[type="radio"] {
    display: none;
}

/* Style labels like buttons */
.tabs label {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background: var(--accent-color);
    color: var(--color-1);
    margin: 0 0.25rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s;
    border: 1px solid var(--color-1);
}

.tabs input[type="radio"]:checked + label {
    background: var(--color-1);
    color: var(--accent-color);
}

/* Maps hidden by default */
.map {
    display: none;
    margin-top: 1rem;
}

.map iframe {
    box-sizing: border-box;
    display: flex;
    border: 10px solid var(--color-1);
    border-radius: 1rem;
    padding: 2px;
    background-color: var(--accent-color);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

/* So basically like check if the tab if checked, if tab1 is checked then it will display content 1 similar to mobile nav bar*/
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display: block;
}

.location{
    background-color: var(--text-color);
}

/*Member Profile Page */
.center-wrapper {
    animation: fadeInUpNav 0.7s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    margin: 1.5rem;
    position: relative;
    width: 450px;
    height: 700px;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: var(--accent-color);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

.theback{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--accent-color);
    color: var(--color-1);
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
}

.thefront img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem; 
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px groove var(--color-1);
    margin-bottom: 0.5rem;
    transition: transform 0.4s;
}

.profile-img:hover {
    transform: scale(1.05);
}

.profile-name {
    font-size: 200%; /*origianlly 1.5rem */
    font-weight: bold;
    color: var(--color-1);
}

.profile-id{
    font-family: Arial, sans-serif;
}

.profile-course {
    font-size: 1rem;
    color: red;
}

.profile-info {
    width: 100%;
    margin-top: 1.5rem;
    border-collapse: collapse;
}

.profile-info th,
.profile-info td {
    text-align: left;
    padding: 0.6rem 0.5rem; /* This is top/bottom/left right spacng between text and the border inside*/
    border: 3px solid var(--color-1);
    font-size: 0.95rem;
    border-radius: 1rem;
}

.profile-info th td{
    width: 40%;
}

.email-link img {
    width: 40px;
    margin-top: 1.5rem;
    transition: transform 0.3s ease;
}

.email-link:hover img {
    transform: scale(1.2);
}

/*Activity*/
.Activity-main{
    flex-direction: column;
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    align-items: center;
    animation: fadeInUpNav 0.7s ease forwards;
    color: var(--color-1);
}

.Activity-main p{
    padding-top: 1em;
}

main {
    padding: 1em;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
  
.activity-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2rem;
    animation: fadeInUpNav 0.7s ease forwards;
}
  
.activity-card {
    background-color: var(--accent-color);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    width: 28%;
    box-sizing: border-box;
    color: var(--color-1);
}
  
.activity-box {
    border: 2px solid var(--color-1);
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    background-color: var(--accent-color);
    text-align: center;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    transition: transform 0.2s ease;
    flex-shrink: 0;
    text-decoration: none;
    color: inherit;
}
  
.activity-box:hover {
    transform: scale(1.03);
}
  
.activity-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
  
.activity-box h2 {
    margin: 0;
    padding: 1em 0;
    background-color: var(--accent-color);
    color: var(--color-1);
    font-size: 1.2em;
}
  
.back-button {
    display: block;
    position: fixed;
    bottom: 20px;
    padding: 0.75em 1.5em;
    background-color: var(--accent-color);
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 2em;
    color: var(--color-1);
    text-decoration: none;
    z-index: 9;
    border-width: 3px;
    border-color: var(--color-1);
    border-style: solid;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeInUpBackToHome 0.7s ease forwards;
}
  
.back-button:hover {
    border-color: var(--accent-color);
    background-color: var(--color-1);
    color: var(--accent-color);
}

@keyframes fadeInUpBackToHome {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
}  
  
.Aside {
    background-color: var(--accent-color);
    padding: 1em;
    border-left: 5px solid var(--color-1);
    min-height: 100px; 
    width: 100%;
    max-width: 1000px;
    margin: 10px auto 60px auto; /*centers it*/
    animation: fadeInUpNav 0.7s ease forwards;
    color: var(--color-1);
}

.Aside h3{
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

figure {
    margin: 0;
    text-align: center;
}
  
figure img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
  
figcaption {
    margin-top: 0.5em;
    font-style: italic;
    color: var(--color-1);
} 
  
dl dt {
    font-weight: bold;
    margin-top: 1em;
}
  
dl dd {
    margin: 0 0 1em 1em;
}
  
@media (max-width: 700px) {
    .activity-card {
      width: 100%;
    }
  
    .activity-box {
      width: 100%;
    }

    main {
        padding: 0.5em;
    }
  
    figure img {
      width: 100%;
    }
}
/* Forms */

/* The following CSS creates a box with a drop-shadow that contains the elements within the web-page. */
.form-section {
    padding: 1.5rem 2rem 2rem;
    background-color: var(--accent-color);
    justify-content: center;
    animation: fadeInUpNav 0.7s ease forwards; /*slide up animation (keyframe on top)*/
    max-width: 93%;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
    margin: 10px 1.5rem 1.5rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    overflow: auto;
}

/* The following CSS is for formatting text within the web-page. */
.form-section h1 {
    padding: 0.5em;
}

.form-section aside {
    vertical-align: center;
    text-align: center;
    background-color: var(--color-1);
    color: var(--accent-color);
    width: 30%;
    float: right;
}

.form-section aside p {
    padding: 0.25em;
}

.form-section a {
    color: var(--accent-color);
    text-align: center;
}

.form-section svg {
    max-width: 24px;
    vertical-align: bottom;
}

.form-section select, input[type="submit"], input[type="reset"] {
    color: var(--accent-color);
    background-color: var(--color-1);
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    padding: 0.25em;
}

.form-section input[type="submit"], input[type="reset"] {
    width: 10em;
    height: 2em;
}

.form-section select:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: var(--color-1);
    background-color: var(--accent-color);
}

.form-section input, .form-section select {
    margin-top: 0.25em;
}

.form-section input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    font-family: Arial, Helvetica, sans-serif;
    height: 2em;
    width: 20em;
}

.form-section input[type="textarea"] {
    width: 60%;
    height: 100px;
    text-align: left;
    vertical-align: top;
}

.form-section img {
    border: 5px double var(--accent-color);
}

.form-choice-section {
    background-color: var(--color-1);
    color: var(--accent-color);
    margin: 0 auto;
    max-width: 20%;
}

/* Configuration from Google Fonts */
/* https://fonts.google.com/icons?selected=Material+Symbols+Outlined:mail:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=mail&icon.size=24&icon.color=%23e3e3e3 */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: bottom;
}

/* Products */

/*setting the page to use no margin and padding*/
*{
    margin: 0;
    padding: 0;
}

.topBanner {
    /*making it responsive*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*basic styling*/
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff3e0;
    height: auto;

    animation: fadeInUpNav 0.7s ease forwards; /*little animation to make it look nice*/

    /*make the title bigger*/
    h1.productCatagory{
        font-size: 2em;
    }

    /*setting the size and making it a round image*/
    figure {
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    }

    aside {
        /*basic styling for the aside*/
        float: right;
        width: fit-content;
        height: fit-content;
        margin: 10px;
    
        /*styling for the flipcard and flipcard contents*/
        .productKeyDefinitionFlipCard {
            background-color: transparent;
            perspective: 1000px; 
            height: 120px;
            width: 130px;
        }
        
        .productKeyDefinitionFlipCardInner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center; 
            transition: transform 0.5s; 
            transform-style: preserve-3d; 
        }
        
        .productKeyDefinitionFlipCard:hover .productKeyDefinitionFlipCardInner {
            transform: rotateY(180deg); /
        }
        
        .productKeyDefinitionFlipCardFront, .productKeyDefinitionFlipCardBack {
            position: absolute;
            align-content: center;
            border: solid #5a3e2b 3px;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        
        .productKeyDefinitionFlipCardFront {
            background-color: #fff3e0;
            color: black;
        }
        
        .productKeyDefinitionFlipCardBack {
            background-color: #5a3e2b;
            color: #fff3e0;
            transform: rotateY(180deg);


            /*setting margin to auto so that can fit within the small box*/
            dl {
                margin: auto;

                div{
                    dt {
                        margin: auto;
                    }
                    dd {
                        margin: auto;
                    }
                }
            }
        }
    }
}





div.productCatagorySelector{
    /*basic styling for this section with a little animation*/
    margin: 20px;
    background-color: #fff3e0;
    animation: fadeInUpNav 0.7s ease forwards;

    ol {
        list-style: none; /*get rid of the numbering*/
        padding: 20px;
        /*having the buttons be spaced evenly so that there's no need for padding or margin*/
        display: flex;
        justify-content: space-evenly;

        li {
            a {
                display: block; /*for having the whole thing be clickable instead of only the words*/
                text-decoration: none; /*get rid of the underline*/
                /*basic styling to make it look like a button*/
                border: solid #5a3e2b 2px;
                border-radius: 50px;
                padding: 15px;
                color: #000;

                /*little animation for when hover over the button*/
                &:hover {
                    transform: translateY(-5px);
                    transition: transform 0.5s;
                }

            }
        }

        /*basic styling to show that the current page you are on is highlighted*/
        .currentProductPage {
            border: solid #5a3e2b 2px;
            background-color: #5a3e2b;
            border-radius: 50px;
            padding: 15px;

            color: white;
        }
    }


    /*makes it so when the screen gets too small and the buttons are about to touch, they will become vertically aligned instead of horizontal*/
    @media screen and (max-width: 600px) {


        ol {
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 10px;
        }

    }
}

.productButton {
    /*basic styling for the product button*/
    border-style: none;
    aspect-ratio: 1;
    background-blend-mode: normal;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    /*making it same colour as background so that when card is clicked on the space left behind wouldn't be different colour*/
    background-color: #fff3e0;
    
    /*making the thing when hovered over be reletive to the product button*/
    position: relative;     
    transform-style: preserve-3d;
}

/*basic styling for the section*/
div.productCardSection{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff3e0;
}

/*styling for a responsive grid*/
div.productCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    grid-gap: 20px;
}

div.productCard {
    /*setting up the basic design of the product card*/
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    /*making sure contents are centered and has suitable space in-between*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    /*makes the image darken when not being hovered over*/
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    border-radius: 10px;

    /*little animation to make it look nicer*/
    transition: background-color 0.5s;

    .productName {
        /*specifying white so thatb can see easier on dark background*/
        color: white;
    }

    /*styling for table to make it look white and have proper border and centered text*/
    table, th, td {
        width: fit-content;
        margin: 0 auto;
        border: 1px solid white;
        border-collapse: collapse;
        padding: 10px;
        text-align: center;

        tr{
            th, td {
                color: white;
            }
        }
    }
}


/*when hover on the card makes it so that the darken effect is removed and the wordings and table also removed*/
.productButton:hover {
    .productCard {
        transition: background-color 0.5s;
        background-color: rgba(0, 0, 0, 0);

        h2, table, tr, th, td {
            transition: opacity 0.5s;
            opacity: 0;
        }

    }

}



/*when clicked will make the image of the product bigger to be able to more easily see*/
.productButton:active {
    /*changing back to flat in order for the product card to be reletive to the viewport*/
    transform-style: flat;


    .productCard {
        /*fixed to viewport*/
        position:fixed;

        /*making the image be bigger while still maintaining 1/1 aspect ratio (basically square image) while still having a gap between the image and edge of screen by using the min function to get the smaller value between the view height and view width so that responsive design is still preserved*/
        width: min(80vw, 80vh);
        height: min(80vw, 80vh);

        /*centering the image to the viewport*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /*making the image the most front so it won't be affected by the blur and darking of the ::after element*/
        z-index: 2;

        /*little animation to make it look nicer*/ 
        transition: width 0.5s;
    }
}

/*creates a black slightly opaque rectangle which is bigger than the display size and covers the background blurring it when clicked.*/
.productButton:active::after {
    /*having the content be empty and be fixed to the viewport*/
    content: '';
    position: fixed;
    /*needs to be slightly bigger and going past the boundary of the viewport in order for the blur to work properly otherwise there will be lighter around the edges of the view port*/
    top: -5vh;
    left: -5vw;
    width: 110vw;
    height: 110vh;
    z-index: 1;     /*covers the background is still below the product card*/
    /*makes the rectangle black, slightly opaque, and blurry*/
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(5px);
    backdrop-filter: blur(5px);
}

/*Assigning the images for the id which corresponds to the product card*/
#Americano{background-image: url("images/Americano.jpg");}
#Latte{background-image: url("images/Latte.jpg");}
#Cappuccino{background-image: url("images/Cappuccino.jpeg");}
#Aerocano{background-image: url("images/Aerocano.jpeg");}
#Aero-latte{background-image: url("images/Aero-latte.jpg");}

#ButterscotchLatte{background-image: url("images/Butterscotch latte.jpeg");}
#ButterscotchCreme{background-image: url("images/ButterscotchCreme.jpg");}
#MintLatte{background-image: url("images/MintLatte.jpg");}
#ViennaLatte{background-image: url("images/Vienna latte.jpeg");}
#PistachioLatte{background-image: url("images/Pistachio Latte.jpeg");}
#StrawberryLatte{background-image: url("images/strawberry latte.jpeg");}
#Mocha{background-image: url("images/mocha.jpeg");}
#MintMocha{background-image: url("images/MintMocha.jpg");}
#OrangeMocha{background-image: url("images/Orange mocha.jpeg");}
#YuzuAmericano{background-image: url("images/Yuzu Americano.jpeg");}
#CheeseAmericano{background-image: url("images/Cheese Americano.jpeg");}
#OrangeAmericano{background-image: url("images/OrangeAmericano.jpg");}
#ExtraEspressoShot{background-image: url("images/ExtraEspressoShot.jpg");}

#Chocolate{background-image: url("images/Chocolate.jpg");}
#MintChocolate{background-image: url("images/MintChocolate.jpg");}
#OrangeChocolate{background-image: url("images/OrangeChocolate.jpg");}
#YuzuSoda{background-image: url("images/YuzuSoda.jpg");}
#StrawberrySoda{background-image: url("images/StrawberrySoda.jpg");}
#YuzuCheese{background-image: url("images/YuzuCheese.jpg");}
#YuriMatcha{background-image: url("images/Matcha Latte.jpeg");}
#StrawberryMatcha{background-image: url("images/StrawberryMatcha.jpg");}
#YuzuMatcha{background-image: url("images/YuzuMatcha.jpg");}
#Houjicha{background-image: url("images/Houjicha.jpg");}

#HotAmericano{background-image: url("images/Americano.jpg");}
#HotLatte{background-image: url("images/Latte.jpg");}
#HotButterscotchLatte{background-image: url("images/Butterscotch latte.jpeg");}
#HotCappuccino{background-image: url("images/Cappuccino.jpeg");}
#HotChocolate{background-image: url("images/Chocolate.jpg");}
#HotYuriMatcha{background-image: url("images/Matcha Latte.jpeg");}
#HotHoujicha{background-image: url("images/Houjicha.jpg");}

.Enhancement {
    max-width: 900px;
    margin: 40px auto;
    padding: 2rem;
    background-color: var(--accent-color);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-1);
  }

  .Enhancement h1 {
    font-size: 2.5rem;
    color: var(--color-1);
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-1);
    padding-bottom: 0.5rem;
  }

  .Enhancement section {
    padding: 1.5rem;
    background-color: #ffffff;
    border-left: 6px solid var(--color-1);
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  .Enhancement h2 {
    color: var(--color-1);
    margin-bottom: 0.8rem;
  }

  .Enhancement h3 {
    font-size: 1.1rem;
    margin-top: 1.2rem;
    color: var(--color-1);
  }

  .Enhancement p {
    margin-top: 0.5rem;
    line-height: 1.6;
  }

  .Enhancement a {
    display: inline-block;
    margin-top: 0.8rem;
    color: var(--color-1);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }

  .Enhancement a:hover {
    color: var(--color-1);
    transition: transform 0.3s ease, color 0.3s ease;
    transform: scale(1.1);
  }
  
